:root {
  --main-font-family: "Nunito Sans";
  --main-white-color: #fff;
  --main-black-color: #000;
  --green-color: #32cd32;
  --main-btn-bg-color: #700bef;
  --main-input-bg-color: rgba(112, 11, 239, 0.30);
  --medium-font-weight: 500;
  --extrabold-font-weight: 800;
}